/* Global document styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

h2,
label {
  font-family: sanchez;
}

}
p,
label {
  font-family: overpass;
}

label {
  font-style: italic;
  font-family: overpass;
  align-self: flex-start;
  font-size: 0.75em;
  margin-bottom: 0.75em;
  opacity: 50%;
}

.input-wrapper {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

header {  height: 10vh;
  margin-bottom: 2.5vh;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #73412f;
  color: white;
}

main {
  background-color: white;
  width: 100%;
  height: 87.5vh;
  display: flex;
  overflow: scroll;
  min-height: 600px;
}

button {
  padding: 1.5% 5%;
  margin: .5%;
  font-size: 1em;
  border-radius: 3px;
  font-family: overpass;
  background-color: #401F20;
  color: white;
  outline: none;
}

/* button:hover {
  background-color: #f29f05;
  background-color: #B44127;
} */

.button-active-js {
  background-color: #f29f05
}

/* Global classes for re-use  */

.flex-column {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

/* Header */

.page-title {
  padding-top: 1.5%;
  font-family: 'Maiden Orange', cursive;
  font-size: 4em;
}

/* Left column styling (outfits) */

.outfit-options {
  width: 30%;
}

.active-item {
  background-color: #B44127;
}

/* Middle column styling (bear display) */

.bear-display {
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.hidden {
  display: none;
}

.bear-image {
  display: flex;
  justify-content: center;
}

.bear-image img {
  width: 80%;
}

.image-hats,
.image-clothes,
.image-accessories {
    z-index: 3;
}

.bear {
  z-index: 2;
}

.image-absolute {
  position: absolute;
}

.image-background {
  z-index: 1;
}

.outfit-name-input,
#outfit-search {
  font-size: 1em;
  width: 100%;
  padding: 1%;
  margin: 2.5% 0;
}

.save-outfit-form {
  align-items: center;
}

.save-outfit-button {
  background-color: #57aec1;
  color: white;
  cursor: pointer;
}

.save-outfit-button:disabled {
  background: grey;
  opacity: 80%;
  cursor: not-allowed;
}

/* Right column display (Saved outfits) */

.saved-outfits {
  width: 30%;
  align-items: center;
}

.saved-outfits h2 {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
}

/* #outfit-search {
  font-size: 1em;
  width: 65%;
  padding: 1%;
  margin-bottom: 5%;
} */

.saved-outfits-container {
  width: 90%;
  margin: 0 auto;
}

.saved-outfit-card {
  background-color: #B37C45;
  background-color: WHITE;
  border: 1px solid #73412f;
  border-radius: 3px;
  justify-content: space-between;
  padding: 2.5%;
  margin: 5% 0;
  font-size: 1.5em;
}

.saved-outfit-card p {
  font-family: sanchez;
}

.outfit-card {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.outfit-card h2 {
  margin-bottom: 2.5%;
}

.flex {
  display: flex;
}
